.password-popup-container {
    -fx-background-color: white;
}

.password-progress-bar {
    -fx-accent: red;
}

.password-progress-bar .bar {
    -fx-padding: 1px;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.label-password-title {
    -fx-font-size: 12px;
    -fx-font-family: "Arial Rounded MT Bold";
}

.password-progress-bar > .track {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-text-box-border: transparent;
    -fx-control-inner-background: transparent;
    -fx-background-color: transparent;
}

.label-password {
    -fx-text-fill: #595859;
    -fx-font-family: "Arial";
    -fx-font-size: 12px;
}

.check-box-password {
    -fx-padding: 0;
    -fx-text-fill: #595859;
    -fx-font-family: "Arial";
    -fx-font-size: 12px;
}

.check-box-password:selected {
    -fx-text-fill: #C2C1C4;
}

.check-box-password:selected .text {
    -fx-strikethrough: true;
}

.check-box-password .box {
    -fx-background-color: transparent;
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-padding: 0 0 0 0;
}

.check-box-password:selected .box {
    -fx-background-color: #6161613e, transparent;
    -fx-background-insets: -3, 0;
    -fx-background-radius: 1024;
}

.check-box-password .box .mark {
    -fx-background-color: #1B6CF7;
    -fx-shape: "M 3 0 A 2 2 0 1 0 3 4 A 2 2 0 1 0 3 0 Z";
    -fx-min-width: 9px;
    -fx-min-height: 9px;
    -fx-max-width: 9px;
    -fx-max-height: 9px;
}

.check-box-password:selected .box .mark {
    -fx-background-color: #1B6CF7;
    -fx-padding: 0.45em;
    -fx-scale-x: 1.1;
    -fx-scale-y: 0.8;
    -fx-shape: "M9.998,13.946L22.473,1.457L26.035,5.016L10.012,21.055L0.618,11.688L4.178,8.127L9.998,13.946Z";
    -fx-min-width: 9px;
    -fx-min-height: 9px;
    -fx-max-width: 9px;
    -fx-max-height: 9px;
}