.root {
    -fx-primary-color: #4A4A4A;
    -fx-secondary-color: #A7C7E7;
    -fx-prompt-color: #666;
}

/* chat view header style */
.header {
    -fx-background-color: -fx-primary-color;
}

.title {
    -fx-text-fill: #FFFFFF;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-font-size: 28;
    -fx-font-weight: bold;
}

/* chat view message container style */
.message-view-content {
    -fx-padding: 5.0;
}

/* chat view scroll pane style */
.chat-view .scroll-pane {
    -fx-background-insets: 0.0;
}

.chat-view .scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.chat-view .scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-background-radius: 2.0em;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.chat-view .scroll-bar:horizontal {
    -fx-background-color: transparent;
    -fx-background-radius: 2.0em;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.chat-view .scroll-bar:vertical .thumb {
    -fx-background-color: -fx-primary-color;
    -fx-background-radius: 2.0em;
}

.chat-view .scroll-bar:horizontal .thumb {
    -fx-background-color: -fx-primary-color;
    -fx-background-radius: 2.0em;
}

.chat-view .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 2.0em;
}

.chat-view .scroll-bar:horizontal .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 2.0em;
}

.chat-view .scroll-bar .increment-arrow,
.chat-view .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.chat-view .scroll-bar:vertical > .increment-button,
.chat-view .scroll-bar:vertical > .decrement-button {
    -fx-padding: 5.0 1.0 5.0 1.0;
    -fx-background-color: transparent;
}

.chat-view .scroll-bar:horizontal > .increment-button,
.chat-view .scroll-bar:horizontal > .decrement-button {
    -fx-padding: 1.0 5.0 1.0 5.0;
    -fx-background-color: transparent;
}

.chat-view .scroll-pane:focused {
    -fx-background-insets: 0.0;
}

.chat-view .scroll-pane .corner {
    -fx-background-insets: 0.0;
}

.bubble-sender {
    -fx-background-color: -fx-secondary-color;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-padding: 5;
}

.label-sender {
    -fx-font-size: 18px;
}

.timestamp-sender {
    -fx-font-size: 12px;
    -fx-text-fill: -fx-prompt-color;
    -fx-padding: 5 0 0 10;
    -fx-alignment: bottom-right;
}

.status-icon-default {
    -fx-icon-color: -fx-prompt-color;
    -fx-icon-size: 15;
}

.status-sent-icon {
    -fx-icon-code: mdi2c-check;
}

.status-received-icon {
    -fx-icon-code: mdi2c-check-all;
}

.status-read-icon {
    -fx-icon-code: mdi2c-check-all;
    -fx-icon-color: #674AEE;
}

.bubble-receiver {
    -fx-background-color: -fx-primary-color;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-padding: 5;
}

.label-receiver {
    -fx-font-size: 16px;
    -fx-text-fill: #FFFFFF;
}

.timestamp-receiver {
    -fx-font-size: 10px;
    -fx-text-fill: #CCCCCC;
    -fx-padding: 5 0 0 10;
    -fx-alignment: bottom-right;
}

/* chat view input area style */
.input-area {
    -fx-pref-height: 50;
    -fx-spacing: 5;
    -fx-padding: 5;
    -fx-alignment: center-right;
}

.input-area > .text-field {
    -fx-alignment: center-left;
}

.send-button {
    -fx-background-color: transparent;
    -fx-content-display: graphic-only;
    -fx-min-width: 24;
    -fx-max-width: 24;
    -fx-min-height: 24;
    -fx-max-height: 24;
}

.send-button:hover {
    -fx-cursor: hand;
    -fx-effect: innershadow(gaussian, -fx-primary-color, 10, 0.5, 0, 0);
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}

.send-button:pressed {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.send-button .ikonli-font-icon {
    -fx-icon-code: mdi2s-send;
    -fx-icon-color: -fx-primary-color;
    -fx-icon-size: 24;
}